<a href="https://colab.research.google.com/github/mmilannaik/BigOCheatSheet/blob/master/W1_Interview_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Theoretical Concepts

## Repr

In [ ]:
class Person:
  def __init__(self,name,age,gender):
    self.name = name
    self.age = age
    self.gender = gender

  def __repr__(self):
    return f"Person(name='{self.name}, age={self.age}, gender={self.gender})"

In [ ]:
jack = Person("Jack",25,"Male")

In [ ]:
jack

Person(name='Jack, age=25, gender=Male)

## Decorator

In [ ]:
# decorator
def dec_func(func):
  def wrapper():
    print("This is decorator")
    func()
  return wrapper

In [ ]:
def orig_func():
  print("This is original function")

In [ ]:
orig_func()

This is original function

In [ ]:
@dec_func
def orig_func():
  print("This is original function")

In [ ]:
orig_func()

This is decorator
This is original function

## Scopes

# Week 1

## String Reverse

In [ ]:
Input: "EYInterview"
Output: "weivretnIYE"

In [ ]:
def reverse_string(s):
  char_list = list(s)
  left,right = 0,len(char_list)-1
  while left<right:
    char_list[left],char_list[right]= char_list[right],char_list[left]
    left+=1
    right-=1
  return "".join(char_list)

In [ ]:
a = "EYInterview"
reverse_string(a)

'weivretnIYE'

## Check for Palindrome

Input: "racecar"
Output: True

In [ ]:
a = "racecar"

In [ ]:
if a ==a[::-1]:
 print(True)

True

In [ ]:
def palindrome_st(s):
  s = ''.join(s.split()).lower()
  left, right = 0,len(s)-1
  while left < right:
    if s[left]!=s[right]:
      return False
    left +=1
    right -=1
  return True

In [ ]:
palindrome_st(a)

True

## Factorial Cal

factorial(5)  # Output: 120  (5! = 5 * 4 * 3 * 2 * 1)

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

fact(5)

120

## Fibonacci

fibonacci(6)  # Output: [0, 1, 1, 2, 3, 5]

In [ ]:
def fibo(n):
  fiblist =[0,1]
  for i in range(2,n+1):
    fiblist.append(fiblist[i-1]+fiblist[i-2])
  return fiblist
fibo(2)

[0, 1, 1]

## Prime number check

is_prime(7)  # Output: True
is_prime(10)  # Output: False

In [ ]:
def isprime(n):
  if n>1:
    for i in range(2,(n//2)+1):
      if n%i==0:
        return False
      else:
        return True
  else:
    return False
isprime(10)

False

In [ ]:
isprime(7)

True

## Count Frequency of Characters

Write a function char_frequency(s: str) -> dict that takes a string and returns a dictionary where the keys are the characters and the values are the counts of those characters in the string.

In [ ]:
def count_freq(n):
  ans ={}
  for i in n:
    if i not in ans:
      ans[i] = 1
    elif i in ans:
      ans[i]+=1
  return ans

count_freq('hello')

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
count_freq("hello world")

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

## Merge Sorted lists

Write a function merge_sorted_lists(list1: list, list2: list) -> list that takes two sorted lists of integers and returns a new list that contains all elements from both lists in sorted order.

In [ ]:
def merge_sorted_lists(list1,list2):
  ans = []
  ans.extend(list1)
  ans.extend(list2)
  return sorted(ans)

In [ ]:
merge_sorted_lists([1, 3, 5], [2, 4, 6])

[1, 2, 3, 4, 5, 6]

## Remove Duplicates from a List

Write a function remove_duplicates(lst: list) -> list that takes a list and returns a new list with duplicate elements removed, while preserving the original order.

In [ ]:
def remove_duplicates(lst):
  return list(set(lst))

In [ ]:
remove_duplicates([1, 2, 2, 3, 4, 4, 5])

[1, 2, 3, 4, 5]

## Find Common Elements Between Two Lists

Write a function common_elements(list1: list, list2: list) -> list that returns a list of elements that are common to both input lists (each common element should appear only once in the result).

In [ ]:
def common_elements(list1,list2):
  return list(set(list1) & set(list2))

In [ ]:
common_elements([1, 2, 3, 4], [3, 4, 5, 6])

[3, 4]

## Greatest Common Divisor (GCD)

Write a function gcd(a: int, b: int) -> int that computes the greatest common divisor of two integers using Euclid's algorithm.

In [ ]:
def gcd(a,b):
  if b==0:
    return a
  else:
    return gcd(b,a%b)

In [ ]:
gcd(48, 18)

6

In [ ]:
48//18

2

In [ ]:
48%18

12

# *Basic-50*

## 1.Anagram Checker

Write a function are_anagrams(s1: str, s2: str) -> bool that checks if two strings are anagrams of each other (i.e., they contain the same characters in any order).

In [ ]:
def anag(a,b):
  for i in a:
    if i not in b:
      return False
  return True

In [ ]:
anag("listen", "silent")

True

## 2.Sum of Digits(Recursive)

Write a function sum_of_digits(n: int) -> int that returns the sum of the digits of a number using recursion.

In [ ]:
def sum_of_digits(n):
  if n==0:
    return 0
  else:
    return n%10+sum_of_digits(n//10)

In [ ]:
sum_of_digits(1234)

10

In [ ]:
sum_of_digits(53)

8

## 3.Find Maximum Element

Write a function find_max(lst: list) -> int that returns the maximum element in a list without using the built-in max() function.

In [ ]:
def find_max(l1):
  max_num = l1[0]
  for i in l1:
    if i>max_num:
      max_num= i
  return max_num

In [ ]:
find_max([1, 3, 2, 5, 4])

5

## 4.Find Minimum Element

Write a function find_min(lst: list) -> int that returns the minimum element in a list without using the built-in min() function.

In [ ]:
def find_min(l1):
  min_num = l1[0]
  for i in l1:
    if i<min_num:
      min_num= i
  return min_num

In [ ]:
find_min([1, 3, 2, 0, 4])

0

## 5.Find the First Non-Repeating Character

Input: "aabbccdeff"
Output: "d"

In [ ]:
def first_non_repeating(s):
  char_count ={}
  for char in s:
    char_count[char] = char_count.get(char,0)+1
  for char in s:
    if char_count[char]==1:
      return char
  return None

In [ ]:
s = "aabbccdeff"
first_non_repeating(s)

'd'

## 6.Implement Sorting Algo

Write a function sort_list(lst: list) -> list that returns a sorted version of a list without using sorted() or list.sort(). (You might implement a simple algorithm like bubble sort or selection sort.)

In [ ]:
def sort_list(n1):
  for i in range(len(n1)):
    for j in range(i+1,len(n1)):
      if n1[i]>n1[j]:
        n1[i],n1[j] = n1[j],n1[i]
  return n1

In [ ]:
sort_list([3, 1, 4, 1, 5])

[1, 1, 3, 4, 5]

## 7.Check a list is sorted

Write a function is_sorted(lst: list) -> bool that checks whether a list is sorted in ascending order.

In [ ]:
def is_sorted(l1):
  for i in range(len(l1)-1):
    if l1[i]>l1[i+1]:
      return False
  return True

In [ ]:
is_sorted([1, 2, 3, 4])

True

In [ ]:
is_sorted([1, 3, 2, 4])

False

## 8.Second Largest Number

Write a function second_largest(lst: list) -> int that returns the second largest number in a list.

In [ ]:
sorted([10, 20, 30, 40])[-2]

30

In [ ]:
def second_largest(lst):
  return sorted(lst)[-2]

In [ ]:
second_largest([10, 20, 30, 40])

30

## 9.Flatten a nested list

Write a function flatten(nested_list: list) -> list that flattens a nested list (i.e., a list that may contain other lists) into a single list of elements.

In [ ]:
def flat_listr(l1):
  flat_list = []
  for i in l1:
    if isinstance(i,list):
      flat_list.extend(flat_listr(i))
    else:
      flat_list.append(i)
  return flat_list

In [ ]:
flat_listr([1, [2, 3], [4, [5]]])

[1, 2, 3, 4, 5]

## 10.Word Freq Counter

Write a function word_frequency(text: str) -> dict that returns a dictionary with the frequency of each word in the input text.

In [ ]:
def word_frequency(text):
  words = text.split()
  freq = {}
  for word in words:
    if word in freq:
      freq[word]+=1
    else:
      freq[word]=1
  return freq

In [ ]:
word_frequency("hello world hello")

{'hello': 2, 'world': 1}

## 11.Remove Vowels from string

In [ ]:
def remove_vowel(text):
  vowels = "aeiouAEIOU"
  return "".join([char for char in text if char not in vowels])

In [ ]:
remove_vowel("hello world")

'hll wrld'

## 12.Set Intersection

Write a function set_intersection(set1: set, set2: set) -> set that returns the intersection of two sets.

In [ ]:
def set_intersection(set1,set2):
  return set1.intersection(set2)

In [ ]:
set_intersection({1, 2, 3}, {2, 3, 4})

{2, 3}

## 13.Generate Permutations

Write a function permutations(lst: list) -> list that returns a list of all permutations of the input list.

In [ ]:
def gen_permute(lst):
  if len(lst) <= 1:
        return [lst]

  result = []
  for i in range(len(lst)):
      # Choose the current element
      current = lst[i]

      # Create a list of remaining elements
      remaining = lst[:i] + lst[i+1:]

      # Generate permutations of the remaining elements
      for p in gen_permute(remaining):
          # Combine the current element with each permutation
          result.append([current] + p)

  return result

In [ ]:
gen_permute([1,2])

[[1, 2], [2, 1]]

## 14.Generate Combinations

Write a function combinations(lst: list, k: int) -> list that returns all combinations of k elements from the input list.

In [ ]:
def combi(lst,k):
  if k==0:
    return [[]]
  result = []
  for i in range(len(lst)):
    current = lst[i]
    remaining = lst[i+1:]
    for p in combi(remaining,k-1):
      result.append([current]+p)
  return result

In [ ]:
combi([1, 2, 3], 2)

[[1, 2], [1, 3], [2, 3]]

## Longest common Prefix

Input: ["interview", "intelligence", "integrate"]
Output: "int"

In [ ]:
s = ["interview", "intelligence", "integrate"]
# calculate the min length of items
# iterate serialyy over each item for min length
min_len = len(s[0])
for char in s:
  if len(char)> min_len:
    pass
  else:
    min_len = len(char)

for i in range(min_len):
  for word in s:
    if word[i] != s[0][i]:
      print(s[0][:i])
      break
  else:
    continue
  break
else:
  return strs[0][:min_len]

inte

In [ ]:
print(sorted(s))

['integrate', 'intelligence', 'interview']

## 15. Perfect Square checker

is_perfect_square(16)  # Output: True
is_perfect_square(14)  # Output: False

In [ ]:
import math
def is_perfect_square(n):
    ans = math.sqrt(n)
    return isinstance(ans,int) or (isinstance(ans,float) and ans.is_integer())

In [ ]:
is_perfect_square(14)

False

In [ ]:
is_perfect_square(16)

True

## 16. **Decimal to Binary Converter**

-- Write a function decimal_to_binary(n: int) -> str that converts a decimal number to its binary representation as a string.
decimal_to_binary(10) <br> # Output: "1010"

## 17. **Binary to Decimal Converter**

Write a function binary_to_decimal(b: str) -> int that converts a binary string to its decimal representation. <br> binary_to_decimal("1010")  # Output: 10

## 18. Recursive Power Function

# List

## 1. function to reverse a string without using slicing.

**Test Case 1:**  
     Input: `"hello"`  
     Expected Output: `"olleh"`  
**Test Case 2:**  
     Input: `"Eucloid"`  
     Expected Output: `"diolcuE"`

In [ ]:
def reversestr(n):
    return reversed(n)

print(list(reversestr('hello')))

['o', 'l', 'l', 'e', 'h']

In [ ]:
reversed('an')

## 2.Merge two sorted lists into one sorted list

Test Case:
Input: [1, 3, 5] and [2, 4, 6]
Expected Output: [1, 2, 3, 4, 5, 6]

In [ ]:
a1 = [1,3,5]
a2 = [2,4,6]
for i in a1:
    a2.append(i)
print(sorted(a2))

[1, 2, 3, 4, 5, 6]

In [ ]:
a1 = [5, 6]
a2 = [3,7]

## 3. **Find the kth largest element in a list.**
    - **Test Case:**
    Input: `([7, 10, 4, 3, 20, 15], k=3)`
    Expected Output: `10`

# New section

In [ ]:
def klarge_list(n,k):
    return sorted(n)[k]

klarge_list([7, 10, 4, 3, 20, 15], k=3)

10

 ## 4. **Implement binary search in a sorted list.**
    - **Test Case:**
    Input: `([1, 2, 3, 4, 5], target=3)`
    Expected Output: `2` (index)

In [ ]:
arr1 = [1, 2, 3, 4, 5]

In [ ]:
def binary_search(arr,low,high,x):
    while low<=high:
        mid = low+(high-low)//2

        if arr[mid] == x:
            return mid
        elif arr[mid]<x:
            low = mid+1
        else:
            low = mid-1

    return -1

In [ ]:
binary_search(arr1,0,len(arr1)-1,4)

3

## 5. **Find the common elements between two lists.**
    - **Test Case:**
    Input: `[1, 2, 3, 4]` and `[3, 4, 5, 6]`
    Expected Output: `[3, 4]`

In [ ]:
arr1 = [1, 2, 3, 4]
arr2 = [3, 4, 5, 6]
print(list((set(arr1).intersection(set(arr2)))))

[3, 4]

## 6. **Rotate a list by n positions.**
    - **Test Case:**
    Input: `([1, 2, 3, 4, 5], n=2)`
    Expected Output: `[4, 5, 1, 2, 3]`

In [ ]:
def rotate_list(arr,n):
    new_one = arr[n+1:]+arr[:n+1]
    return new_one

arr1 = [1, 2, 3, 4, 5]
rotate_list(arr1,2)

[4, 5, 1, 2, 3]

## 7.**Find the first missing positive integer.**
    - **Test Case:**
    Input: `[3, 4, -1, 1]`
    Expected Output: `2`

In [ ]:
def missing_int(arr1):
    for i in arr1:
        if i<0:
            return i
            #pass

arr2 = [3, -4, -2, -2]
missing_int(arr2)

-4

## 8. **Return the difference between two lists (elements in first not in second).**
    - **Test Case:**
    Input: `[1, 2, 3, 4]` and `[2, 4]`
    Expected Output: `[1, 3]`

In [ ]:
arr1 = [1, 2, 3, 4]
arr2 = [2, 4]
temp= []
for i in arr1:
    if i not in arr2:
        temp.append(i)

print(temp)

[1, 3]

## 9. **Find the contiguous subarray with the maximum sum (Kadane’s algorithm).**
    - **Test Case:**
    Input: `[-2, 1, -3, 4, -1, 2, 1, -5, 4]`
    Expected Output: `6` (from subarray `[4, -1, 2, 1]`)

In [ ]:
def kadane(arr):
    max_num = current_sum = arr[0]
    start = end = temp_start = 0
    for i in range(1,len(arr)):
        if arr[i] > current_sum + arr[i]:
            current_sum = arr[i]
            temp_start = i
        else:
            current_sum += arr[i]

        if current_sum > max_num:
            max_num = current_sum
            start = temp_start
            end = i

    return max_num,arr[start:end+1]

In [ ]:
arr1 = [-2, 1, -3, 4, -1, 2, 1, -5, 4]
kadane(arr1)

(6, [4, -1, 2, 1])

## 10.**Split a list into chunks of a given size.**
    - **Test Case:**
    Input: `([1, 2, 3, 4, 5], chunk_size=2)`
    Expected Output: `[[1, 2], [3, 4], [5]]`

In [ ]:
def split_chunk(arr,chunk_size):
    start = end = 0
    temp=[]
    for i in range(0,len(arr),chunk_size):
        start = i
        end = start+chunk_size
        temp.append(arr[start:end])
    return temp

In [ ]:
arr1 = [1, 2, 3, 4, 5]
split_chunk(arr1,2)

[[1, 2], [3, 4], [5]]

## 11. **Remove all falsy values from a list.**
    - **Test Case:**
    Input: `[0, 1, "", None, 2, False, 3]`
    Expected Output: `[1, 2, 3]`

In [ ]:
arr1 = [0, 1, "", None, 2, False, 3]
list(filter(None,arr1))

[1, 2, 3]

## 12. **Calculate the median of a list of numbers.**
    - **Test Case 1 (odd count):**
    Input: `[3, 1, 2]`
    Expected Output: `2`
    - **Test Case 2 (even count):**
    Input: `[4, 1, 2, 3]`
    Expected Output: `2.5`

In [ ]:
def cal_med(ar):
    arr = sorted(ar)
    if len(arr)%2 ==0:
        return (arr[len(arr)//2]+arr[(len(arr)//2)-1])*0.5
    else:
        return arr[(len(arr)//2)]

In [ ]:
cal_med([3, 1, 2])

2

In [ ]:
cal_med([4,1,2,3])

2.5

## 13. WAP to get the smallest number from a list.

In [ ]:
l1 = [5,3,4,2,7]
temp = l1[0]
for i in range(len(l1)):
    if l1[i] < temp:
        temp = l1[i]
print(temp)

2

## 14.Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [ ]:
def count_strings(strings):
    count = 0
    for s in strings:
        if len(s)>=2 and s[0]==s[-1]:
            count+=1
    return count

In [ ]:
sample_list = ['abc', 'xyz', 'aba', '1221']
count_strings(sample_list)

2

# Tuples

## 1. **Reverse a tuple.**
    - **Test Case:**
    Input: `(1, 2, 3, 4)`
    Expected Output: `(4, 3, 2, 1)`

In [ ]:
arr1 =(1,2,3,4)
print(tuple(reversed(arr1)))

(4, 3, 2, 1)

## 2. **Merge two tuples.**
    - **Test Case:**
    Input: `(1, 2)` and `(3, 4)`
    Expected Output: `(1, 2, 3, 4)`

In [ ]:
arr1 = (1,2)
arr2 = (3,4)
arr3 = arr1 +arr2
arr3

(1, 2, 3, 4)

In [ ]:
# tuple unpacking
''' Using *t1, *t2 in a function call unpacks the elements as separate arguments,
not as a tuple. To get a merged tuple, use concatenation (t1 + t2) or tuple unpacking inside parentheses '''
merged = (*arr1,*arr2)
print(merged)

(1, 2, 3, 4)

In [ ]:
print((*arr1,*arr2))

(1, 2, 3, 4)

## 3. **Concatenate a list of tuples into one tuple.**
    - **Test Case:**
    Input: `[(1, 2), (3, 4), (5,)]`
    Expected Output: `(1, 2, 3, 4, 5)`

In [ ]:
t1 = [(1, 2), (3, 4), (5,)]
print(*t1)

(1, 2) (3, 4) (5,)

In [ ]:
t2 = ()
for i in t1:
    if isinstance(i,tuple):
        t2 = t2+i
print(t2)

(1, 2, 3, 4, 5)

## 4. **Unpack a tuple into separate variables.**
    - **Test Case:**
    Input: `(10, 20, 30)`
    Expected Behavior: Variables `a, b, c` get assigned `10, 20, 30` respectively.

In [ ]:
t1 = (10,20,30)
print(*t1)

10 20 30

## 5. **Compare two tuples element by element.**
    - **Test Case:**
    Input: `(1, 2, 3)` and `(1, 2, 4)`
    Expected Output: The function should indicate they differ at the third element.

In [ ]:
t1 = (1,2,3)
t2 = (1,2,4)
t1[0]

1

In [ ]:
for i in range(0,len(t1)):
    if t1[i] != t2[i]:
        print(f"the two tuples differ at the {i+1} position")

the two tuples differ at the 3 position

## 6. **Convert a list into a tuple.**
    - **Test Case:**
    Input: `[1, 2, 3]`
    Expected Output: `(1, 2, 3)`

In [ ]:
t1 = [1,2,3]
print(tuple(t1))

(1, 2, 3)

## 7. **Sort a list of tuples by the second element.**
    - **Test Case:**
    Input: `[(1, 3), (2, 1), (3, 2)]`
    Expected Output: `[(2, 1), (3, 2), (1, 3)]`

In [ ]:
t1 = [(1, 3), (2, 1), (3, 2)]
sorted(t1,key=lambda x:x[1])

[(2, 1), (3, 2), (1, 3)]

## 8. **Return a tuple containing the min and max of its numerical elements.**
    - **Test Case:**
    Input: `(5, 1, 9, 3)`
    Expected Output: `(1, 9)`

In [ ]:
t1 = (5,1,9,3)
t2 = (min(t1),max(t1))
t2

(1, 9)

## 9. **Find the frequency of elements in a tuple.**
    - **Test Case:**
    Input: `(1, 2, 2, 3)`
    Expected Output: `{1: 1, 2: 2, 3: 1}`

In [ ]:
t1 = (1,2,2,3)
t2 ={}
for i in t1:
    if i in t2:
        t2[i]+=1
    else:
        t2[i] =1

In [ ]:
t2

{1: 1, 2: 2, 3: 1}

In [ ]:
freq = {}
for item in t1:
    freq[item] = freq.get(item,0)+1
freq

{1: 1, 2: 2, 3: 1}

## 10. **Check if a tuple is a palindrome.**
    - **Test Case:**
    Input: `(1, 2, 3, 2, 1)`
    Expected Output: `True`

In [ ]:
t1 = (1,2,3,2,1)
if t1 == t1[::-1]:
    print('True')
else:
    print('False')

True

## 11. **Flatten nested tuples into a single tuple.**
    - **Test Case:**
    Input: `((1, 2), (3, (4, 5)))`
    Expected Output: `(1, 2, 3, 4, 5)`

In [ ]:
t1 = ((1, 2), (3, (4, 5)))
def flatten_tuple(t):
    flat = []
    for item in t:
        if isinstance(item, (tuple, list)):
            flat.extend(flatten_tuple(item))
        else:
            flat.append(item)
    return tuple(flat)

flatten_tuple(t1)

(1, 2, 3, 4, 5)

## 12. **Use tuples as keys in a dictionary.**
    - **Test Case:**
    Input: Use `((1,2), (3,4))` as keys with associated values.
    Expected Behavior: Dictionary lookup by tuple key should work correctly.

In [ ]:
t1 = ((1,2),(3,4))
t2 = {}
for i in t1:
    t2[i[0]] = i[1]
print(t2)

{1: 2, 3: 4}

## 13. **Swap two elements in a tuple and return a new tuple.**
    - **Test Case:**
    Input: Tuple `(1, 2, 3)`, swap indices 0 and 2.
    Expected Output: `(3, 2, 1)`

In [ ]:
t = (1, 2, 3)

# Step 1: Convert to list
lst = list(t)

# Step 2: Swap elements at index 1 and 2
lst[1], lst[2] = lst[2], lst[1]

# Step 3: Convert back to tuple
swapped_t = tuple(lst)

print(swapped_t)  # Output: (1, 3, 2)

(1, 3, 2)

## 14. **Extract a sub-tuple given start and end indices.**
    - **Test Case:**
    Input: Tuple `(10, 20, 30, 40)`, indices 1 to 3.
    Expected Output: `(20, 30)`

In [ ]:
t1 = (10,20,30,40)
t1[1:3]

(20, 30)

## 15. **Compare two tuples and return the one with the greater sum.**
    - **Test Case:**
    Input: `(1, 2, 3)` and `(2, 2, 2)`
    Expected Output: `(1, 2, 3)` since sum=6 vs. 6; if equal, define behavior.

In [ ]:
t1 =(1,2,5)
t2 = (2,2,3)

if sum(t1) > sum(t2):
    print(t1)
elif sum(t1) == sum(t2):
    print('Both tuple have Equal')
else:
    print(t2)

(1, 2, 5)

## 16. **Create a tuple from multiple input values.**
    - **Test Case:**
    Input: Values `4, 5, 6`
    Expected Output: `(4, 5, 6)`

In [ ]:
t = 4,5,6
print(type(t))

<class 'tuple'>

## 17. **Filter out non-numeric elements from a mixed-type tuple.**
    - **Test Case:**
    Input: `(1, "a", 2, "b")`
    Expected Output: `(1, 2)`

In [ ]:
t1 = (1, "a", 2, "b")

In [ ]:
for i in t1:
    if isinstance(i,int):
        print(i)

1
2

In [ ]:
tuple(filter(lambda x: isinstance(x,(int,float)),t1))

(1, 2)

## 20. **Demonstrate immutability of tuples (attempting to change an element should fail).**
    - **Test Case:**
    Input: Try to assign to tuple index on `(1, 2, 3)`
    Expected Behavior: Raises a `TypeError`.

In [ ]:
t1 = (1,2,3)
t1[0] = 4

TypeError: 'tuple' object does not support item assignment

# Dictionary

## 1. **Merge two dictionaries with overriding values from the second.**
    - **Test Case:**
    Input: `{"a": 1, "b": 2}` and `{"b": 3, "c": 4}`
    Expected Output: `{"a": 1, "b": 3, "c": 4}`

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"b": 3, "c": 4}

In [ ]:
d1.update(d2)
print(d1)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
merged_d = {**d1,**d2}
print(merged_d)

{'a': 1, 'b': 3, 'c': 4}

## 2.Merge two dictionaries and sum values for common keys.
Test Case:
Input: {"a": 2, "b": 3} and {"b": 4, "c": 1}
Expected Output: {"a": 2, "b": 7, "c": 1}

In [ ]:
from collections import Counter
def merge_dict(d1,d2):
    counter1 = Counter(d1)
    counter2 = Counter(d2)
    merged = counter1+counter2
    return dict(merged)

In [ ]:
d1 = {"a": 2, "b": 3}
d2 = {"b": 4, "c": 1}
merge_dict(d1,d2)

{'a': 2, 'b': 7, 'c': 1}

## 3. **Invert a dictionary (keys become values and vice versa).**
    - **Test Case:**
    Input: `{"a": 1, "b": 2}`
    Expected Output: `{1: "a", 2: "b"}`

In [ ]:
d1 = {"a": 2, "b": 3}
for key,value in d1.items():
    temp = key
    key = value
    value = temp
# this  will not swap the key value as it has changed in the local variables

{'a': 2, 'b': 3}

In [ ]:
# correct implementation
swap_dict = {value:key for key,value in d1.items()}
swap_dict

{2: 'a', 3: 'b'}

## 4. **Sort a dictionary by its keys.**
    - **Test Case:**
    Input: `{"b": 2, "a": 1}`
    Expected Output: `{"a": 1, "b": 2}`

In [ ]:
d1 = {"b": 2, "a": 1}
sort_d1 = {k:v for k,v in sorted(d1.items(),key = lambda x :x[0])}
sort_d1

{'a': 1, 'b': 2}

## 5. **Sort a dictionary by its values.**
    - **Test Case:**
    Input: `{"a": 3, "b": 1, "c": 2}`
    Expected Output: `{"b": 1, "c": 2, "a": 3}`

In [ ]:
d1 = {"a": 3, "b": 1, "c": 2}
sort_d1 = {k:v for k,v in sorted(d1.items(),key = lambda x :x[1])}
sort_d1

{'b': 1, 'c': 2, 'a': 3}

## 6. **Find common keys between two dictionaries.**
    - **Test Case:**
    Input: `{"a": 1, "b": 2}` and `{"b": 3, "c": 4}`
    Expected Output: `["b"]`

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"b": 3, "c": 4}
d1_k = (k for k,v in d1.items())
d2_k = (k for k,v in d2.items())
set(d1_k).intersection(d2_k)

{'b'}

## 7. **Update nested dictionaries recursively.**
    - **Test Case:**
    Input: `{"a": {"x": 1}}` and `{"a": {"y": 2}}`
    Expected Output: `{"a": {"x": 1, "y": 2}}`

In [ ]:
d1 = {"a": {"x": 1}}
d2 = {"a": {"y": 2}}
def recursive_update(d1,d2):
    for key,value in d2.items():
        if key in d1 and isinstance(d1[key],dict) and isinstance(value,dict):
            recursive_update(d1[key],value)
        else:
            d1[key] = value
    return d1

print(recursive_update(d1,d2))

{'a': {'x': 1, 'y': 2}}

## 8. **Flatten a nested dictionary (combine keys with delimiter).**
    - **Test Case:**
    Input: `{"a": {"b": 1}, "c": 2}`
    Expected Output: `{"a_b": 1, "c": 2}`

In [ ]:
d1 = {"a": {"b": 1}, "c": 2}
def flatten_dict(d,parent_key = '', sep = '_'):
    items = {}
    for k,v in d.items():
        new_key = f"{parent_key}{sep}{k}" if parent_key else k
        if isinstance(v,dict):
            items.update(flatten_dict(v,new_key,sep=sep))
        else:
            items[new_key] = v
    return items

flatten_dict(d1)

{'a_b': 1, 'c': 2}

## 9. **Filter out keys with falsy values using dictionary comprehension.**
    - **Test Case:**
    Input: `{"a": 0, "b": 2, "c": None}`
    Expected Output: `{"b": 2}`

In [ ]:
d1 = {"a": 0, "b": 2, "c": None}
filter_d1 = {k:v for k,v in d1.items() if v}
filter_d1

{'b': 2}

## 10. **Convert a dictionary into a list of tuples.**
    - **Test Case:**
    Input: `{"a": 1, "b": 2}`
    Expected Output: `[("a", 1), ("b", 2)]`

In [ ]:
d1 = {"a": 1, "b": 2}
t = list(tuple(d1.items()))
t

[('a', 1), ('b', 2)]

## 11|. **Compute the frequency of words in a text.**
    - **Test Case:**
    Input: `"hello world hello"`
    Expected Output: `{"hello": 2, "world": 1}`

In [ ]:
from collections import Counter
def word_freq(n):
    words = n.split()
    word_freq = Counter(words)
    return dict(word_freq)

In [ ]:
word_freq("hello world hello")

{'hello': 2, 'world': 1}

## 12.**Group dictionary values by a computed property (e.g., length).**
    - **Test Case:**
    Input: `{"a": "apple", "b": "banana", "c": "cat"}`
    Expected Output: Group by string length, e.g., `{5: ["apple"], 6: ["banana"], 3: ["cat"]}`

In [ ]:
d2 = {}
d1 = {"a": "apple", "b": "banana", "c": "cat"}
for k,v in d1.items():
    d2[len(v)]=v
d2

{5: 'apple', 6: 'banana', 3: 'cat'}

## 13.**Find the key with the highest value.**
    - **Test Case:**
    Input: `{"a": 3, "b": 7, "c": 5}`
    Expected Output: `"b"`

In [ ]:
d1 = {"a": 3, "b": 7, "c": 5}
ans = [k for k,v in sorted(d1.items(),key= lambda x :x[1])]
print(ans[-1])

b

In [ ]:
max(d1,key=d1.get)

'b'

## 14. **Remove keys with specific values from a dictionary.**
    - **Test Case:**
    Input: `{"a": 1, "b": 0, "c": 3}`, remove keys with value 0
    Expected Output: `{"a": 1, "c": 3}`

In [ ]:
d1 = {"a": 1, "b": 0, "c": 3}
for k,v in d1.items():
    if v==0:
      del d1[k]
d1
# it will throw error as python does not allow modifying a dictionary's size while iterating over it because it can cause unpredictable behaviour

RuntimeError: dictionary changed size during iteration

In [ ]:
d1 = {"a": 1, "b": 0, "c": 3}
d1 = {k:v for k,v in d1.items() if v!=0}
d1

{'a': 1, 'c': 3}

## 15. **Perform a deep merge of two dictionaries.**
    - **Test Case:**
    Input: `{"a": {"x": 1}}` and `{"a": {"y": 2}, "b": 3}`
    Expected Output: `{"a": {"x": 1, "y": 2}, "b": 3}`

In [ ]:
d1 = {"a": {"x": 1}}
d2 =  {"a": {"y": 2}, "b": 3}
d3={}
for k,v in d1.items():
    if k in list(d2.keys()):
        d2.update(d1[k])

In [ ]:
d2

{'a': {'y': 2}, 'b': 3, 'x': 1}

In [ ]:
def deep_merge(d1, d2):
    """
    Recursively merge d2 into d1 and return the merged dictionary.
    Values from d2 overwrite or merge into d1.
    """
    for key, value in d2.items():
        if key in d1 and isinstance(d1[key], dict) and isinstance(value, dict):
            deep_merge(d1[key], value)
        else:
            d1[key] = value
    return d1

d1 = {"a": {"x": 1}}
d2 = {"a": {"y": 2}, "b": 3}

merged = deep_merge(d1, d2)
print(merged)

{'a': {'x': 1, 'y': 2}, 'b': 3}

## 16. **Count the total number of keys in a nested dictionary.**
    - **Test Case:**
    Input: `{"a": {"x": 1, "y": 2}, "b": 3}`
    Expected Output: `3`

In [ ]:
def count_keys(d):
    total =0
    for k,v in d.items():
        total +=1
        if isinstance(v,dict):
            total +=count_keys(v)
    return total

In [ ]:
count_keys({"a": {"x": 1, "y": 2}, "b": 3})

4

## 17. **Use defaultdict to group items by a property.**
    - **Test Case:**
    Input: List of tuples: `[("apple", "fruit"), ("carrot", "veg"), ("banana", "fruit")]`
    Expected Output: `{"fruit": ["apple", "banana"], "veg": ["carrot"]}`

In [ ]:
d1 = [("apple", "fruit"), ("carrot", "veg"), ("banana", "fruit")]
type(d1[0][0])

str

In [ ]:
d1[0][0]

'apple'

In [ ]:
from collections import  defaultdict
grouped = defaultdict(list)

for key, value in d1:
    grouped[value].append(key)

dict(grouped)

{'fruit': ['apple', 'banana'], 'veg': ['carrot']}

## 18. **Return a new dictionary mapping each key to the length of its associated value (if list or string).**
    - **Test Case:**
    Input: `{"a": "hello", "b": [1,2,3]}`
    Expected Output: `{"a": 5, "b": 3}`

In [ ]:
d2 ={}
d1 ={"a": "hello", "b": [1,2,3]}
for key,value in d1.items():
    print(key,len(value))
    d2[key] = len(value)
d2

a 5
b 3

{'a': 5, 'b': 3}

## 19. **Perform key lookups safely and return a default value when missing.**
    - **Test Case:**
    Input: Dictionary `{"a": 1}` with lookup for key `"b"`, default value `0`
    Expected Output: `0`

In [ ]:
d1 = {"a":1}
def dict_key(d1,k):
    if k in d1.keys():
        return d1[k]
    else:
        return 0

dict_key(d1,k='b')

0

# Exception Handling

## Q1 1. **Divide two numbers and handle division by zero.**
    - **Test Case:**
    Input: `(10, 2)` → Output: `5`
    Input: `(10, 0)` → Expected: Handle exception (e.g., return a message or raise custom error).

In [ ]:
def handle_zero(a,b):
    try:
        result = a/b
        return result
    except ZeroDivisionError:
        return 'denomitaor cannot be zero'

In [ ]:
handle_zero(10,3)

3.3333333333333335

## Q2 - 2. **Read a file and handle file-not-found error.**
    - **Test Case:**
    Input: Filename `"existing.txt"` (if exists) → Output: file content
    Input: Filename `"nonexistent.txt"` → Expected: Catch `FileNotFoundError`.

In [ ]:
def safe_read(f):
    try:
        with open(f,'r') as r:
            r.read()
    except FileNotFoundError:
        return 'File not found'

In [ ]:
safe_read('rambo2.txt')

'File not found'

## Q3 . **Create and raise a custom exception for invalid input.**
    - **Test Case:**
    Input: Value not meeting criteria → Expected: CustomException raised.

In [ ]:
class CustomException(Exception):
    pass

def validate_input(value):
     if isinstance(value,int) or value <= 10:
          raise CustomException(f"Invalid input : {value}")
try:
    test_value = 5
    validate_input(test_value)
except CustomException as e:
        print(f"invalid input as it is not a integer and custom exception raised as {e}" )

invalid input as it is not a integer and custom exception raised as Invalid input : 5

## Q4. **Try-except with else and finally clauses.**
    - **Test Case:**
    Write a block that normally runs without error (check that else executes) and one where error occurs (finally always executes).

In [ ]:
def divide(a,b):
    try:
        print('trying to divide')
        result = a/b
    except ZeroDivisionError:
        print('Caught ZeroDivision Error')
        return 'cannot divide by zero'
    else:
        print('Division Successful')
        return result
    finally:
        print('cleaning up')

In [ ]:
divide(10,0)

trying to divide
Caught ZeroDivision Error
cleaning up

'cannot divide by zero'

## Q5. **Validate user input and raise a ValueError if out of range.**
    - **Test Case:**
    Input: `age = -5` → Expected: Raise `ValueError`.

In [ ]:
def valid_input(age):
    if age<0:
        raise ValueError("Age cannot be negative")
    else:
        pass

try:
    valid_input(-5)
except ValueError as e:
    print(f"valueerror raised as expected:  {e} ")

valueerror raised as expected:  Age cannot be negative

## Q6. **Catch multiple exceptions in a single except clause.**
    - **Test Case:**
    Code that can raise either `TypeError` or `ValueError` → Ensure both are caught.

In [ ]:
def test_func(value):
    if not isinstance(value, int):
        raise TypeError("Not an integer!")
    if value < 0:
        raise ValueError("Negative value not allowed!")
    return value

try:
    test_func(-10)  # Change to "hello" or -10 to test exceptions
except TypeError as e:
    print(f"Handling TypeError differently: {e}")
except ValueError as e:
    print(f"Handling ValueError differently: {e}")

Handling ValueError differently: Negative value not allowed!

## Q7 **Implement a context manager that handles exceptions.**
    - **Test Case:**
    Use your custom context manager in a `with` block that causes an exception; ensure proper cleanup.

#leetcode

## twoSum

 Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

In [ ]:
from typing import List

In [ ]:

class Solution:
    def twoSum(self, nums: List[int], target: int) -> List[int]:
        for i in range(len(nums)):
            for j in range(i+1,len(nums)):
                if nums[i]+nums[j] == target:
                    return [i,j]

In [ ]:
sol = Solution()
nums = [2,7,11,15]
target = 26
res = sol.twoSum(nums,target)
print(res)

[2, 3]

# Valid Parenthesis

In [2]:
class Solution:
    def isValid(self, s: str) -> bool:
        st = []
        for i in s:
            if i == '(' or i == '{' or i == '[':
                st.append(i)
            else:
                if st and (
                (st[-1] == '(' and i ==')') or
                (st[-1] == '[' and i ==']') or
                (st[-1] == '{' and i =='}')
                ):
                  st.pop()
                else:
                    return False
        return not st

In [3]:
sol = Solution()
s = "(]"
res = sol.isValid(s)
print(res)

False

In [4]:
s = "([])"
res = sol.isValid(s)
print(res)

True